<link rel="stylesheet" href="/css/nav.css">
</head>
  <body>
    <header id="fixed">
      <div class="home">
        <h1 class="blind">Peak PC STAFF</h1>
        <a class="home_a" href="/">
          <img class="peak_logo" src="/img/logo.jpg" alt="">
        </a>
      </div>
      <nav class="fixed_gnb">
        <ul class="fixed_gnb_lists">
          <li class="fixed_gnb_ctg"><a class="fixed_gnb_link" href="/message">전달사항</a></li>
          <li class="fixed_gnb_ctg"><a class="fixed_gnb_link" href="/recipe">레시피</a></li>
          <li class="fixed_gnb_ctg"><a class="fixed_gnb_link" href="/contact">비상연락처</a></li>
          <li class="fixed_gnb_ctg"><a class="fixed_gnb_link" href="/customer">손님응대 Q&A</a></li>
          <li class="fixed_gnb_ctg"><a class="fixed_gnb_link" href="">비품위치</a></li>
          <li class="fixed_gnb_ctg"><a class="fixed_gnb_link" href="/tips">읽어볼만한 팁</a></li>
        </ul>
      </nav>
    </header>