<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>
  <table>
    <th>직원</th>
    <tr>
      <td>사장님</td>
      <td>최성필</td>
      <td>010-2706-7980</td>
      <td>
        <form action="POST">
          <input type="button" value="수정">
          <input type="button" value="삭제">
        </form>
      </td>
    </tr>
    <tr>
      <td>매니저</td>
      <td>신상엽</td>
      <td>010-7162-2066</td>
      <td>
        <form action="POST">
          <input type="button" value="수정">
          <input type="button" value="삭제">
        </form>
      </td>
    </tr>
  </table>
  <table>
    <th>거래처</th>
    <tr>
      <td>네스티컵</td>
      <td>02-434-2902</td>
      <td>
        <form action="POST">
          <input type="button" value="수정">
          <input type="button" value="삭제">
        </form>
      </td>
    </tr>
  </table>
</body>
</html>