<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/all.css">
  <link rel="stylesheet" href="css/index.css">
  <title>Peak PC</title>
</head>

<body>
  <header>
    <h1 class="blind">Peak PC Staff</h1>
    <img class="peak_logo" src="img/logo.jpg" alt="PeakPC_logo">
    <h2>STAFF</h2>
  </header>
  <main>
    <form class="search" action="" method="POST">
      <input class="search_blank" type="text" placeholder="검색어를 입력해주세요">
      <button class="search_btn" type="submit">
        <img class="search_ico" src="img/ico/search.png" alt="search_ico">
      </button>
    </form>
    <nav class="gnb">
      <ul class="gnb_lists">
        <li class="gnb_category"><a class="gnb_link" href="">비품위치</a></li>
        <li class="gnb_category"><a class="gnb_link" href="">읽어볼만한 팁</a></li>
        <li class="gnb_category"><a class="gnb_link" href="/recipe">레시피</a></li>
        <li class="gnb_category"><a class="gnb_link" href="">손님응대 Q&A</a></li>
        <li class="gnb_category"><a class="gnb_link" href="/contacts">비상연락처</a></li>
      </ul>
    </nav>
  </main>
</body>

</html>