<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/msg.css">
<%- include('./includes/nav.ejs') %>
  <main>
    <h2 class="msg_title">전달사항</h2>
    <h4 class="msg_from">삼전점</h4>
  </main>
</body>
</html>