* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #f5f5f5;
}

li, ul, ol, a {
  list-style: none;
  text-decoration: none;
}

a:hover {
  color: #f2ff00;
  font-weight: 600;
}

.blind {
  z-index: -999;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

body, header, main {
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search_ico {
  width: 26px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}