.show_a:after {
  display: block;
  height: 1px;
  width: 800px;
  background-color: #a5a5a5;
  content: '';
  margin-top: 8px;
}

td {
  padding: 12px;
}

.qna {
  display: flex;
  flex-direction: column;
}

.a {
  font-size: 22px;
  padding-bottom: 32px;
}

.show_a {
  font-size: 26px;
}